<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CỐ lên Hòa ơi</title>
</head>
<body>
    <h1>Hello ZenS Company with Hoa from backend Nodejs</h1>
    <p>
        <span>Data in database from table joke:</span>
        <%=data %>
    </p>
</body>
</html>